* {
    margin: 0;
    padding: 0;
}

body {
    margin: 35px 50px;
    background-color: #140C1F;
    color: white;
    font-family: 'Oxanium', cursiva;
}



/* --------------- CAMPO DO HEADER ------------------- */
header {
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* heading panel */
header section {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100em;
    justify-content: space-between;
}

/* campo meunu*/
.header-nav {
    /*border: 1px solid yellow;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 0.5;
    gap: 10px;
    order: 1;    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: bl(20.8333px);
}
.header-nav a {
    text-decoration: none;
    color: white;
}
.header-nav p {
    height: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

/*campo logo*/
.header-logo {
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.header-logo svg {
    width: 93px;
    height: 93px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -5px;
}
.header-logo h1 {
    /*width: 180px; -- não fez diferença*/
    height: 63px;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    text-transform: uppercase;
    order: 1;
}

/* Campo usuário*/
.header-creat {
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0.05;
    justify-content: space-between;
    order: 2;
}

.header-creat a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    width: 169px;
    height: 43px;
    background: #AD1AAF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
/*Configurar texto btn*/
.header-creat a > p {
    /*border: 1px solid yellow;*/
    color: white;
    width: 137px;
    height: 23px;
    font-family: 'Oxanium';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
}
.header-creat img {
    /*ADD borda na imagem*/
    width: 60px;
    height: 60px;
    border-radius: 50px;
    order: 1;
}


/*parte do conteúdo*/
main {
    /*border: 1px solid blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 113px;
}



/* ------------ CAMPO CONTÚDO 01 --------------------*/
main .field-center {
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    /*gap: 240px;*/
    
}
/*lado do conteudo da esquerda  */
.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 120px;
    order: 0;
   
}
/*campo do  texto do conteúdo*/
.field-content {
    
    display: flex;
    flex-direction: column;
    order: 0;
    gap: 43px;
}
.field-content h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase; 
}
.field-content p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: capitalize;
    color: #c6c6c6;
}
/*campo do botão*/
.field-button {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-around;
    width: 524px;
    height: 70px;
    order: 1;
}

.field-button a {
    color: white;
    text-decoration: none;
    font-size: 22px;
   
}
.button-explore {
    /*padding: 23px 50px;*/
    
    background: #AD1AAF; 
    padding: 23px 50px;
}

.button-creat {
    background: rgba(173, 26, 175, 0.05);
    border: 1px solid #AD1AAF;
    padding: 23px 82px;
}

/*lado das cartas na direita*/
.cards-side {
    display: flex;
    order: 1;    
}
.cards-side ul {
    display: flex;
    list-style: none;
} 
/*Revisar em casa*/
.card-one {
    flex-direction: column;
    background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
    border-width: 2.5px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(17.5px);
    border-radius: 41.6667px;
    padding: 19.67px 13px 20px 13px ;

    margin-top: 82px;
    margin-bottom: 64px;
    width: 250px;
    
    z-index: 0;

    
}
.card-one img { 
    width: 250px;
    order: 0;
}

.card-one h6 {

    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    text-transform: capitalize;
    margin-top: 5px;
    color: #FFFFFF;
    text-align: center;
    order: 1;
    

}

.card-one p {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    margin-top: 8px;
    order: 2;

}

.card-two {
    flex-direction: column;
    background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
    border-width: 2.5px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(17.5px);
    border-radius: 41.6667px;
    padding: 19.67px 13px 20px 13px;
    
    margin-bottom: 146px;
    margin-left: -130px;
    width: 250px;
    

    z-index: 1;
/*
    position: absolute;
    left: auto;
    top: auto;
    
    
*/
    
}
.card-two img { 
    width: 250px;
    order: 0;
 }
 
 .card-two h6 {
 
     font-family: 'Oxanium';
     font-style: normal;
     font-weight: 500;
     font-size: 25px;
     line-height: 31px;
     text-transform: capitalize;
     margin-top: 5px;
     color: #FFFFFF;
     text-align: center;
     order: 1;
     
 
 }
 
 .card-two p {
     font-family: 'Oxanium';
     font-style: normal;
     font-weight: 500;
     font-size: 17px;
     line-height: 21px;
     text-transform: capitalize;
     color: #FFFFFF;
     text-align: center;
     margin-top: 8px;
     order: 2;
 }
 
.card-three {
    flex-direction: column;
    background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
    border-width: 2.5px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(17.5px);
    border-radius: 41.6667px;
    padding: 19.67px 13px 0px 13px;
    margin-top: 146px;
    margin-left: -80px;
    width: 250px;
   
    /*
        position: absolute;
        left: auto;
        top: auto;
        
        z-index: 0;
    */
}
.card-three img { 
    width: 250px;
    order: 0;
 }
 
 .card-three h6 {
 
     font-family: 'Oxanium';
     font-style: normal;
     font-weight: 500;
     font-size: 25px;
     line-height: 31px;
     text-transform: capitalize;
     margin-top: 5px;
     color: #FFFFFF;
     text-align: center;
     order: 1;
     
 
 }
 
 .card-three p {
     font-family: 'Oxanium';
     font-style: normal;
     font-weight: 500;
     font-size: 17px;
     line-height: 21px;
     text-transform: capitalize;
     color: #FFFFFF;
     text-align: center;
     margin-top: 8px;
     order: 2;
    
 }
 


 /* --------------------- imagem de fundo da estrela ---------------- */

.star-image {
    margin-top: -85px;
    margin-right: -50px;
    margin-left: -50px;
}
.star-image img {
    width: 100%;
}


 /* --------------------- Campo 02---------------- */
/*campo 02 section*/
.field-support {
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px; 
}

/*Campo do conteúdo*/
.field-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    order: 0;
}
.field-content2 h6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-transform: capitalize;
    background: linear-gradient(90.13deg, #0E849A 0%, #F81DFB 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    order: 0;
}
.field-content2 h1 {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    text-align: center;
    line-height: 125px;
    text-transform: capitalize;
    order: 1;
}

/*Campo das cartas do suporte*/
.field-cardsSupport {
    order: 1;
}
.field-cardsSupport ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    text-align: center;
    gap: 20px;

}
.carSupport01, .carSupport02,
.carSupport03, .carSupport04,
.carSupport05 {
    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 35px 30px 0px 30px;
    
}
.carSupport01 img, .carSupport02  img,
.carSupport03  img, .carSupport04  img,
.carSupport05  img {
    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    border: 10px solid transparent rgba(255, 255, 255, 0.05);
    padding: 45px;
    width: 80px;
}
.carSupport01 h6, .carSupport02  h6,
.carSupport03  h6, .carSupport04  h6,
.carSupport05  h6 {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 34px;
    margin-bottom: 35px;
    /*
    margin-top: 34px;
    margin-bottom: 35;
*/
}
/*carSupport01-05

border: 10px solid ;
    border-image: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
    backdrop-filter: blur(10px);
    border-image-slice: 1;
    border-radius: 50%;




/* ----------------- Campo 03 ------------------ */
/*Campo da section*/
.field-works {
    margin-top: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

/*Campo do conteudo*/
.field-content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 0;
    width: 386px;
    height: 169px;
}
.field-content3 h3 {
    text-align: center;
    width: 386px;
    height: 130px;
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 130px;
    color: #F5FBF2;
    order: 0;
    margin: -100px 0px;
}
.field-content3 svg {
    width: 172px;
    height: 168px;
    background: #AD1AAF;
    filter: blur(225px);
    flex: none;
    order: 1;     
}

/*Campo das tarefas*/
.field-allSteps {
    margin-top: -64px;
    order: 1;
}
.field-allSteps ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    width: 907px;
    height: 168px;
    text-align: center;
    list-style: none;
}
.steps01, .steps02, .steps03, .steps04 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    order: 0;
}
.steps01 svg, .steps02 svg, .steps03 svg, .steps04 svg {
    background: linear-gradient(147.75deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    padding: 30px;
}
.steps01 h6, .steps02 h6, .steps03 h6, .steps04 h6 {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
    order: 1;
}



/*

steps01  -  05